.card__paragraph {
  margin: 0 0 26px 0;
  font-size: 12px;
}

.card__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 425px) {
  .card__paragraph{
    margin-bottom: 10px;
    font-size: 11px;
  }
}
