.header {
  width: calc(100% - 60px *2);
  box-sizing: border-box;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 10px *2);
    justify-content: none;
  }
}
