.video__title {
  color: white;
  position: absolute;
  left: 100px;
  top: 70px;
  font-size: 29px;
  font-weight: 700;
}
@media screen and (max-width: 555px) {
  .video__title {
    top: 10%;
    left: 10%;
  }
}
