.intro {
  width: calc(100% - 60px * 2);
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding-bottom: 112px;
}


@media screen and (max-width: 768px) {
  .intro {
    padding-bottom: 40px;
    width: calc(100% - 25px * 2);
    margin-top: 30px;
  }
}
