.footer {
  height: 536px;
  background-color: #FECDA7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .footer {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 200px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    height: 150px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    height: 100px;
  }
}
