.intro__image {
  width: 307px;
  height: 307px;
  object-fit: cover;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .intro__image{
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 425px) {
  .intro__image{
    width: 150px;
    height: 150px;
  }
}

